<% include header %>

<div class="header-wrapper">
  <div class="logo">
    <img id="header-image" src="img/peaks.svg" alt="mountain svg" height="50px" width="50px">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2 header">

        <h1>Everyday Improve</h1>
        <p>Improve everyday while tracking your progress towards goals and analyzing your behavior</p>
      </div>
    </div>
  </div>
</div>
<h1><%title%></h1>

  <main>
<div class="mood-main-wrapper">
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h1>Moods</h1>
    </div>
    <div class="col-xs-12 col-md-8 mood-main">
      <h1>How was your day today?</h1>
      <form name="Mood">
        <div class="form-group">
        <label>Rank your mood on a scale of 1-100</label>
        <input class="inputs form-control" type="number" name="mood" max="100">
        </div>
        <div class="form-group">
        <label>Did you meditate today?</label>
        <select class="form-control" name="meditate" id="meditate">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        </div>
        <div class="form-group">
        <label>Did you exercise today?</label>
        <select class="form-control" name="exercise" id="exercise">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
        </div>
        <div class="form-group">
        <label>Rank your energy on a scale of 1-100</label>
        <input class="inputs form-control" type="number" name="energy" max="100">
        </div>
        <div class="form-group">
        <label>Any comments you'd like to add?</label>
        <textarea class="form-control" name="comments" rows="6" cols="40"></textarea>
        </div>
        <button class="btn btn-default" id="submit">Submit</button>
      </form>
      <button class="btn btn-default" id="get-moods">Get Moods</button>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row mood-target">

  </div>
</div>

  </main>
  <% include footer %>
